html,
body, app {
    height: 100%;
}

app {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signup .form-control:focus {
    z-index: 2;
}

.form-signup input#name {
    margin-bottom: -2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input#email,
.form-signup input#password {
    margin-bottom: -2px;
    margin-top: -1px;
    border-radius: 0;
}

.form-signup input#repeatPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul.validation-errors {
    text-align: left;
}